.env
node_modules/
/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/scanner/*
!/storage/scanner/.gitkeep
/storage/documentos/*
!/storage/documentos/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep

/storage/users/*
!/storage/users/.gitkeep
